{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
    	<!-- 여기 부트스트랩 테스트 코딩 디바이스 크기에 따라 하는거.-->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	 
        <title>어휴마루</title>
        <!--밑ㅊ에줄을 글 추가하려는 플러스 디자인~~-->

<!--         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
         -->
        <link rel="stylesheet" href="{% static 'css/blog_2.css' %}">
    </head>
    <body>
 
    	<!-- 여기 부트스트랩 테스트 코딩 디바이스 크기에 따라 하는거.-->    	
        <div class="page-header">
        	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        	{% if user.is_authenticated %}
        	{% endif %}
                     <h1><a href="/">GNU</a></h1>
        </div>

        <!-- 타이틀 로고랑 타이틀-->   
        
        <div class ="title">
            <div class="title_logo">       
                <a href="/"><img src="{% static 'img/logo_N.jpg' %}"  style=" width: 100%;" /></a>
            </div>
            <div class="title_text">       
                <h1>GNU 공과대학 회의실 어울마루</h1>
            </div>
        </div>

        <!-- 메뉴 바 1. 공지사항 2. 회의실 소개  3. 검 색-->   
        
        <div id="menu">
            <li class = "first"><a href="{% url 'post_list' %}">공지사항</a></li>
            <li class="first"><a href="{% url 'photo' %}">회의실 소개</a></li>
            <li><a href="#">회의실 에약</a></li>
        </div>


        <!-- <div class="content container"> -->
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        <!-- </div> -->
    </body>
</html>